/* --------------------------
 * ROOT
----------------------------- */
:root {
    /* Header */
    --header-bg: #198754;

    /* Sidebar */
    --sidebar-nav-link: #767676;
    --sidebar-nav-link-active: #23b370;
}

/* --------------------------
 * HTML BASE
----------------------------- */

body {
    min-height: 100vh;
    line-height: 1.6;
    font-family:
        Inter,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Fira Sans',
        'Droid Sans',
        'Helvetica Neue',
        sans-serif;
    font-size: 13px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

form, input, select {
    font-size: 14px !important;
}

main {
    min-height: 90vh;
}

/* --------------------------
 * SIDEBAR
----------------------------- */
@media (min-width: 768px) {
    .sidebar .offcanvas-lg {
        position: -webkit-sticky;
        position: sticky;
        top: 48px;
    }

    .navbar-search {
        display: block;
    }
}

.sidebar .nav-link {
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--sidebar-nav-link);
}

.sidebar .nav-link:hover {
    color: var(--sidebar-nav-link-active);
}

.sidebar .nav-link.active {
    font-weight: 700;
    color: var(--sidebar-nav-link-active);
}

.sidebar-heading {
    font-size: 0.75rem;
}

/* --------------------------
 * HEADER
----------------------------- */
header {
    background-color: var(--header-bg);
}

/* --------------------------
 * NAVIGATION BAR
----------------------------- */
header .navbar-brand {
    padding: 1rem 1.55rem;
    background-color: rgb(0 0 0 / 10%);
}

.navbar .form-control {
    padding: 0.75rem 1rem;
}

/* --------------------------
 * TABLE
----------------------------- */
table.table > thead > tr > th {
    background-color: #f3f3f3 !important;
    text-transform: uppercase;
}

table.table > thead > tr > th:nth-child(1),
table.table > thead > tr > th:last-child {
    text-align: center;
}

/* --------------------------
 * HEADINGS
----------------------------- */
h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
}

/* --------------------------
 * BUTTONS - BADGE
----------------------------- */
.badge {
    text-decoration: none;
    font-weight: normal;
    border-radius: 0.25rem;
    text-transform: uppercase;
}

button.badge {
    border: 0;
    display: block;
}

.badge.bg-success {
    background-color: #23b370;
}

button.badge:active, button.badge:focus {
    border: 0;
}

.list-button {
    text-align: center;
}

.list-button > a, .list-button > button {
    margin-bottom: 3px;
    width: 100%;
}

/* --------------------------
 * DEFAULT THEME BOOTSTRAP
----------------------------- */
.bi {
    display: inline-block;
    width: 1rem;
    height: 1rem;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.1);
    border: solid rgba(0, 0, 0, 0.15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
        inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -0.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
    z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
}